@import "../fonts/roboto/Roboto-Medium.ttf";

$font-path: "../fonts/roboto/";
$color: #EC407A;

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url('#{$font-path}Roboto-Regular.eot');
    src: url("#{$font-path}Roboto-Regular.eot?#iefix") format('embedded-opentype'),
        url("#{$font-path}Roboto-Regular.woff2") format("woff2"),
        url("#{$font-path}Roboto-Regular.woff") format("woff"),
        url("#{$font-path}Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

.container {
	background-color: $color;
	background-image: url("../images/silviajoy-shatter.png");
	background-size: cover;
	height: 50vh;
	width: 50vw;
	margin: auto;
	margin-top: 20vh;
	text-align: center;
}

p {
	text-align: center;
	font-family: "Roboto";
}

img {
	margin-top: 3vh;
}